{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block css %}
<style>
    body {
        background: url({% static "bg4.jpg" %}) no-repeat center center/cover;
        background-size: 100vw 65vw;
        font-family: Arial, sans-serif;
        background-color: #1e1e1e;
        color: #f4f4f4;
        text-align: center;
        background-blend-mode: overlay;
    }
    h1 {
        font-size: 2.5em;
        color: #f39c12;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 1.5em;
        color: #fff;
        margin-bottom: 20px;
    }
    .trader {
        margin-bottom: 2px;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
    }
    .userPhoto{
        border-radius: 50%;
        margin-right: 4rem;
        width: 20px;
    }
    .userName{
        width:100px;
        margin-right: 7rem;
        margin-top: 0.5rem;
    }
    .userPL{
        width:50px;
        margin-left: 4rem;
        margin-top: 0.5rem;
    }
</style>
{% endblock css %}

{% block body %}
<h1>OPTION TRADER LEAGUE</h1>
<h2>Top 10 for {{ date }}</h2>

<div class="trader-list">
    {% for trader in traders %}
        <div class="trader">
            <div class="userPhoto">
                <img src="{% static 'images/' %}{{ trader.saved_image }}.jpg" alt="User Photo" width="50" > 
            </div>
            <div class="userName">
                <span >{{ trader.x_username }}</span>
            </div>
            <div class="userPL">
                <span >{{ trader.totalPL }}</span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock body %}

{% block script %}{% endblock script %}
