{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block css %}
<style>
    body {
        background: url({% static "bg2.jpg" %}) no-repeat center center/cover;
        background-size: 100vw 100vw;
        font-family: Arial, sans-serif;
        background-color: #1e1e1e;
        color: #f4f4f4;
        text-align: center;
    }
    table {
        margin: auto;
        width: 80%;
        border-collapse: collapse;
    }
    th, td {
        padding: 12px;
        border: 1px solid #444;
    }
    th {
        background-color: #ff9800;
    }
</style>
{% endblock css %}
{% block body %}
<head>
    <h1 class="text-center text-white m-0" style="font-size:4rem">STOCK MARKET</h1>
    <hr class="border border-3 border-info m-1">
    <h1 class="text-center text-white">Option Traders League</h1>
  <h3 class="text-white">Date : {{date}}</h3>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Username</th>
                <th>Total P&L</th>
                <th>ROI</th>
                <th>Capital</th>
                <!-- <th>Verification</th> -->
            </tr>
        </thead>
        <tbody>
            {% for trader in traders %}
            <tr>
                <td><img src="{% static 'images/' %}{{ trader.saved_image }}.jpg" alt="User Photo" width="50"></td>
                <td>{{ trader.name }}</td>
                <td>{{ trader.x_username }}</td>
                <td>{{ trader.totalPL }}</td>
                <td>{{ trader.ROI }}</td>
                <td>{{ trader.total_capital }}</td>
                <!-- <td><a href="{{ trader.verification_url }}" target="_blank">Verify</a></td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock body %}
{% block script %}{% endblock script %}
